<header>
    <nav>
        <p><a href="mailto:hi@elainewilberforce.com">hi@elainewilberforce.com</a></p>
        <div class="pager-menu">
            <ul>
                <li><a href="#about-me">About me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="https://weekly-nerd.vercel.app/">The Weekly Nerd</a></li>
            </ul>
        </div>
    </nav>
</header>