<header>
    <nav class="header">
        <p><a href="mailto:hi@elainewilberforce.com">hi@elainewilberforce.com</a></p>
        <div class="pager-menu">
            <ul class="menu-items">
                <li><a href="#about-me">About me</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#">The Archive</a></li>
            </ul>
            <button class="menu-button" aria-label="Toggle Menu">
                <img src="images/menu.png" alt="Menu button image">
            </button>
        </div>
    </nav>
</header>