@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Paytone+One&family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

/* Fonts: Syne, Lexend Deca, Paytone One, Dela Gothic One */



:root {
  --black: #000;
  --white: #FFF;
  --thistle: #cdb4dbff;
--carnation-pink: #ffafccff;
--light-sky-blue: #a2d2ffff;

--rose: #f72585ff;
--grape: #7209b7ff;
--zaffre: #3a0ca3ff;
--neon-blue: #4361eeff;
--vivid-sky-blue: #4cc9f0ff;

--ade-purple: #9872FF;

}

html {
  box-sizing: border-box;

  scroll-snap-type: y mandatory;
  background: lavender;
  background-image: radial-gradient(var(--black) 5%, transparent 0);
  background-size: 35px 35px;
}

body {
  margin: 0;
}

html, body {
  height: 100dvh;
  margin: 0;
  overflow-x: hidden;

}

main {
  height: 100%;
  font-family: 'Lexend Deca';
}

/* -------- */
/* Partials */
/* -------- */

/* Common styles for the header */
header {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 2000;
  height: 4em;
  width: 100%;
}

/* Styles for the navigation menu */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
}

.header p {
  width: max-content;
}

.header a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-family: "Dela Gothic One", sans-serif;
  font-size: 1em;
  cursor: pointer;
  white-space: nowrap;
}

/* Styles for the menu button */
.menu-button {
  appearance: none;
  border: none;
  background: none;
  position: relative;
  z-index: 100;

  img {
    width: 2.5em;
  }
}

.header.active .menu-button img {
  content: url('../images/menu-close.png');
}

/* Styles for the menu items */
.header ul {
  display: flex;
  gap: 1em;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background: var(--carnation-pink);
  background-image: radial-gradient(var(--black) 5%, transparent 0);
  background-size: 35px 35px;
  transform: translateX(100%);
}

.header.active ul {
  transform: translateX(0%);
}

.pager-menu {
  display: flex;
  text-transform: uppercase;
  font-family: "Dela Gothic One", sans-serif;
}

.pager-menu ul {
  display: flex;
  align-items: center;
}

.pager-menu ul li {
  list-style: none;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.1s ease;
  flex-basis: 9em;
  flex-grow: 1;
}

.pager-menu ul li:hover > *:not(button) {
  border: 2px var(--black) solid;
  box-shadow: 0.3em 0.3em 0 0 black;
  padding: 0.5em;
  transition: all 0.3s ease;
}

/* Hide the button on larger screens */
@media (min-width: 800px) {
  .header button {
    display: none;
  }

  .header ul {
    position: static;
    transform: none;
    background: none;
    padding: 0;
  }
}

/* Change layout of menu items to column when button is active */
@media (max-width: 800px) {
  .header.active .pager-menu ul {
    flex-direction: column;
    font-size: 2em;
    margin: 0;
    padding: 2em 0 0 0;
  }
}



/* ------------ */
/* General Code */
/* ------------ */

 h2 {
    font-size: 3em;
    font-family: 'Syne';
    font-variation-settings: 'wdth' 1000, 'wght' 740;
 }

.full-page {
  scroll-snap-align: start;
  background-color: lightblue;
  background-image: radial-gradient(var(--black) 5%, transparent 0);
  background-size: 35px 35px;

  display: flex;
  flex-direction: column;
  height: unset;
}

/* Set height to 100% for screens larger than 900px */
@media (min-width: 1000px) {
  .full-page {
    height: 100vh;
  }
}

.projects {
  flex: 1;
}

.projects {
    background-color: var(--thistle)
}

.skills {
    background-color: var(--light-sky-blue);
}

.contact {
  background-color: lightblue;
}


.container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 3em;
      font-size: 1.2em !important;

      margin: 0 4em 3em 5em;
}

  .name {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2em;
      width: max-content;
      margin: 4em auto 2em auto;
      padding: 2em;
      border-radius: 2em;

      & h1 {
        font-family: 'Syne';
        font-variation-settings: 'wdth' 1000, 'wght' 740;

        font-size: 3.5em;
      }
  }

  .photocard {
    position: relative;
    background: var(--white);
    width: 12em;
    height: 18em;
    padding: 1em 1em 0 1em;
    z-index: 100;
    border: 2px solid black;
    box-shadow: 1em 1em 2px 1px rgba(58, 12, 163, .2);

    & img {
      width: 12em;
    }

    & p {
      margin: auto;
      padding: 0 0 2em 0;
    }
  }


  .info {
    background-color: var(--thistle);
    border: 2px solid black;
    box-shadow: 0.5em 0.5em 0 0 black;
    padding: 2em;
    max-width: 28em;
  }
  
  .info p {
    margin: 0 0 1em 0;
    width: 100%;
  }
  
  /* One column for smaller screens */
  @media (max-width: 900px) {
    .info p {
      text-align: center;
      margin-left: auto;
      margin-right: auto; 
    }
    .container {
      flex-direction: column-reverse;
    }

    .photocard {
      align-self: center;
    }
  }
  



 /* Marquee */
.marquee {
  position: relative;
  top: -1.5em;
  padding: 1em;
  background: var(--carnation-pink);
  width: 100%;
}

.marquee-inner {
  display: flex;
  overflow: hidden;
  width: 100%;
}

/* Marquee List */
.marquee-inner ul {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 3em;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.1em;
}

.marquee-inner ul li {
  padding-left: 2.5em;
  font-size: 1.4em !important;
  font-family: 'Syne';
  font-variation-settings: 'wdth' 1000, 'wght' 740;
}

.marquee-inner ul li:last-child {
  padding-right: 2.5em;
}

.marquee-inner ul li::marker {
  content: "✰";
  width: 2em;
  margin-left: 5px;
}

/* -------------- */
/* Portfolio work */
/* -------------- */

.skills, .contact, .projects, .contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.projects {
  padding: 3em 0 3em 0;

  h2 {
    margin: 0;
  }
}


.projects-cards {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none; 
  max-width: 1000px;
}

.projects-cards li {
  padding: 2em;
}

.projects-cards li:last-child {
  place-self: center;

  border: 1px solid black;
  box-shadow: 0.5em 0.5em 0 0 black;
  background-color: var(--carnation-pink);
  background-image: radial-gradient(var(--black) 5%, transparent 0);
  background-size: 35px 35px;

  width: 14em;
  height: 10em;

  p {
    text-transform: uppercase;
    font-family: "Dela Gothic One", sans-serif;
    font-size: 2em;
    text-align: center;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.projects-cards li span {
  position: relative;
  top: -1em;
  display: flex;
  justify-content: center;
}

.projects-cards img {
  width: 100%;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 0 0 black;
}

/* ----------- */
/* -- SKILLS --*/
/* ----------- */

.skills {
  padding: 2em 0 7em 0;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2em;

  h3 {
    font-size: 1.5em;
  }

  li {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1em;
    font-size: 1.3em;
  }

  li img {
    border: 2px var(--black) solid;
    box-shadow: 0.3em 0.3em 0 0 black;
    padding: 0.5em;
    background-color: lightblue;
  }
}

.front-end, .back-end, .others {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.front-end li, .back-end li, .others li {
    margin-bottom: 1.5em;
}

.front-end img {
  width: 4em;
}

.front-end ul > li:nth-of-type(3) > img, 
.front-end ul > li:nth-of-type(4) > img {
  width: 3em;
}

.back-end img, .others img {
  width: 4em;
}




.contact {
  padding: 2em 5em 5em 5em;

  p {
    margin: 0 0 1em 0;
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  max-width: max-content;
  max-height: max-content;
}

.contact-info {
  display: grid;

  p {
    font-size: 1.7em;
  }
}

.social-links {
  ul {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  img {
    width: 3.5em;
  }

  li {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    text-transform: uppercase;
    font-family: "Dela Gothic One", sans-serif;
  }
  
  li a {
    display: flex;
    gap: 1em;
    align-items: center;
    color: inherit;
    text-decoration: none;
  }
}

.social-links ul li:hover {
  border: 2px var(--black) solid;
  box-shadow: 0.3em 0.3em 0 0 black;
  padding: 0.5em;
  transition: all 0.3s ease;
}




/* ----------------------------- */
/* ------- ADE REDESIGN -------- */
/* ----------------------------- */

.ade {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color:var(--ade-purple);
	padding: 5em 0 5em 0;
}
.ade h2 {
	display: none;
}

.ade p {
	font-size: 1.4em;
}

.ade img {
	width: 58%;
}

.intro-text {
	width: 50%;
}

video {
	position: relative;
	width: 30%;
	
}

.video-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 3em;
	margin: 5em 0 0 0;

}

.outro-text {
	display: flex;
	flex-direction: column;
	width: 30%;
}



/* ------------------------------ */
/* ------- RESPONSIVENESS ------- */
/* ------------------------------ */
/* Two columns for larger screens */
/* ------------------------------ */


@media (min-width: 900px) {
  .projects-cards {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}

@media (max-width: 899px) and (min-width: 601px) {
  .name {
    margin: 7em auto 2em auto;
    font-size: 0.7em;
  }
  .projects-cards {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  /* Skills section responsiveness */

  .skills {
    padding: 0 0 3em 0;
  }

  .skills-container {
    flex-direction: column;
  }

  .front-end img {
    width: 6em;
  }
  
  .front-end ul > li:nth-of-type(3) > img, 
  .front-end ul > li:nth-of-type(4) > img {
    width: 5em;
  }
  
  .back-end img, .others img {
    width: 7em;
  }



  /* Contact container */
  .contact-container {
    flex-direction: column;
  }


  .social-links li {
    justify-content: center;
  }

} 

@media (max-width: 600px) {
  .name {
    margin: 7em auto 2em auto;
    font-size: 0.7em;
  }
  .projects-cards {
    grid-template-columns: 1fr;
  }

  /* Skills section responsiveness */

  .skills {
    padding: 0 0 3em 0;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
  }


  /* Contact container */

  .contact-container {
    flex-direction: column;
  }

  .social-links li {
    justify-content: center;
  }

}
